$color-dark-jean: #21212F;
$color-jean: #3E495B;
$color-fade-jean: #68768C;
$color-cream: #ddd9d0;
$color-peach: #D59B96;
$color-white: rgb(240, 240, 240);
$color-black: rgb(32, 32, 32);
$color-shadow: rgb(32, 32, 32, 0.3);